# Godot 4+ specific ignores
.godot/
/android/
Cenas/FaseTeste.tscn
Objetos/Player.tscn
Objetos/Player.tscn
project.godot
Sprites/Cenário/Mata_Atlantica/Interativos/cipó02.png.import
Sprites/Cenário/Mata_Atlantica/Interativos/ESPINHOS.png.import
Sprites/Cenário/Mata_Atlantica/Interativos/ESPINHOS_EXTERNO.png.import
Sprites/Cururu/walljump/CURURU_354.png.import
Sprites/Cururu/Walljump/WALLJUMP.png.import
Sprites/UI/Botoes/TesteTecladoSHIFT.png.import
